*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #151515;
    color: white;
}

/* ////////////////////// */

.sidebar {
    max-width: 240px;
    width: 100%;
    height: 100%;
    background-color: #151515;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: sticky;
    top: 0;
}

.sidebar * {
    width: fit-content;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    margin-right: 10px;
    margin-left: 240px;
    padding: 10px 10px 0 0;
    position: relative;
    bottom: 400px;
}

.sidebar-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#home {
    cursor: pointer;
}
/* /// */

.block {
    background-color: #202020;
    height: auto;
    border-radius: 10px;
    color: white;
}

.block img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.block-container {
    margin: 0 auto;
    padding: 5px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.bottom {
    padding: 10px;
}

/* navbar */

.input-wrapper {
    width: 100%;
    max-width: 1920px;
    margin-left: 20px;
    margin-right: 20px;
}

.input::placeholder {
    color: hsla(0,0%,100%,.6);
}

.input {
    transition: all 0.3s;
    color: rgb(82, 82, 82);
    font-size: 14px;
    width: 96%;
    height: 40px;
    border-radius: 50px;
    padding: 22px 0 22px 40px;
    background-color: hsla(0,0%,100%,.16);
    box-shadow: none;
    text-decoration: none;
    appearance: none;
    outline: none;
}

.input:hover {
    background-color: white;
}

.input:hover::placeholder {
    color: rgb(162, 162, 162);
}

.a1{
    text-decoration: none;
    font-size: 15px;
    color: white;
    min-width: fit-content;
}

.logo {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 5px;
    color: white;
    font-size: 18px;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-2 {
    margin: 30px 30px 30px 30px;
}

.linkss {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    right: 39px;
}

.select-1{
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 30px;
    position: relative;
    bottom: 8px;
    max-width: 25px;
}

.select-1 .select-2 {
    visibility: hidden;
    width: 170px;
    height: 200px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 2;
}

.select-1:hover .select-2 {
    visibility: visible;
}

.select-1 .select-2 a {
    cursor: pointer;
    color: black;
    background-image: none;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    color: black;
}

#search-icon {
    position: absolute;
    scale: 0.4;
    color: rgb(91, 91, 91);
}

/* // */

#months {
    display: flex;
    padding: 5px;
    gap: 20px;
    margin-bottom: 20px;
    display: none;
}

.plus > h4 {
    font-weight: bolder;
    font-size: large;
}